asttokens
certifi
charset-normalizer
comm
cycler
daytime
decorator
exceptiongroup
executing
filelock
fonttools
fsspec
idna
ipykernel
ipython
jedi
Jinja2
joblib
jupyter_client
jupyter_core
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mpmath
nest_asyncio
networkx
pandas
parso
patsy
pexpect
pickleshare
pillow
pip
platformdirs
prompt_toolkit
psutil
ptyprocess
pure_eval
Pygments
pynvml
pyparsing
pytz
requests
ruptures
scikit-learn
scipy
seaborn
setuptools
stack_data
statsmodels
sympy
threadpoolctl
traitlets
triton
typing_extensions
tzdata
wcwidth
wheel
zipp